<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Web Example (powered by Java with Thymeleaf) to test Matomo CF Service: otherpage</title>
		<!-- Matomo -->
		<script type="text/javascript" th:inline="javascript">
			var _paq = window._paq || [];
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u= "//";
				u= u + /*[[${mcfs.matomoUrl}]]*/ "{$PIWIK_URL}";
				u= u + "/";
				_paq.push(['setTrackerUrl', u+'matomo.php']);
				_paq.push(['setSiteId', /*[[${mcfs.siteId}]]*/ {$IDSITE}]);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<!-- End Matomo Code -->
	</head>

	<body>
		<table style="width:100%">
			<tr bgcolor="White">
				<th align="left" width="25%">
					<a href="https://matomo.org/">
						<img src="img/Matomo_Logo.png" alt="Matomo Logo" style="width:256px;height:128px;border:0">
					</a>
				</th>
				<th width="50%" align="center"><font size="20px">Matomo CloudFoundry Service: Test Example</font></th>
				<th align="right" width="25%">
					<a href="https://www.cloudfoundry.org/">
						<img src="img/CloudFoundryCorp_vertical.png" alt="CloudFoundry Logo" style="width:256px;height:128px;border:0">
					</a>
				</th>
			</tr>
		</table>
		<h1>This is a test of a Web application using Matomo (for testing along with Matomo CF Service)</h1>
		Well done, you've reached the other page !!
		<br/>
		<a href="index.html">Back</a>...
	</body>
</html>
