body {
	background-color: Black;
	color: White;
	font-size: 20px;
}

a {
	color: Wheat;
}

h1 {
	color: OrangeRed;
}
 
h2 {
	color: OrangeRed;
}

hr {
	color: OrangeRed;
}
 
table {
	border-collapse: collapse;
}
 
table th, table td {
	padding: 5px;
}
