<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Matomo CF Releases</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	</head>

	<body>
		<table style="width:100%">
			<tr>
				<th align="left" width="25%">
					<a href="https://matomo.org/">
						<img src="img/Matomo_Logo.png" alt="Matomo Logo" style="width:256px;height:128px;border:0">
					</a>
				</th>
				<th width="50%"><h1>Matomo CloudFoundry Service - Releases Supported</h1></th>
				<th align="right" width="25%">
					<a href="https://www.cloudfoundry.org/">
						<img src="img/CloudFoundryCorp_vertical.png" alt="CloudFoundry Logo" style="width:256px;height:128px;border:0">
					</a>
				</th>
			</tr>
			<tr>
				<td colspan="3"><h2>This site provides the list of Matomo releases that have been prepared to be deployed on CloudFoundry by the Matomo service broker.</h2></td>
			</tr>
			<tr>
				<td align="left">
					Available versions are (default is <nobr th:text="${defRelease}">3.6.1</nobr>):
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr th:each="release : ${releases}">
				<td></td>
				<td align="left">
					- <nobr th:text="${release.name}">release</nobr>
				</td>
				<td align="right">
					<a download="CHANGELOG.md" href="matomo-releases/release/CHANGELOG.md" th:href="@{matomo-releases/{vers}/CHANGELOG.md(vers=${release.name})}">
		  				Change Log
					</a>
				</td>
			</tr>
		</table> 
	</body>
</html>